<div ng-controller="MainCtrl">
    <div class="jumbotron">
        <div class="container">
            <center>
                <h3>
                    lmfeedb - Feedback Gloves for VR with Leap Motion
                </h3>
                <h5>
                    Authenticated user: {{user.username}}
                </h5>
            </center>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row-content">
            <button type="button" class="btn btn-link" ng-click="logout()">
                <span class="glyphicon glyphicon-log-out" area-hidden="true"></span> Log Out
            </button>
            <hr>
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Left Hand</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Thumb</strong>
                            t<input ng-model="theL_THUMB_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theL_THUMB_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('L_THUMB',theL_THUMB_str,theL_THUMB_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('L_THUMB')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Index</strong>
                            t<input ng-model="theL_INDEX_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theL_INDEX_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('L_INDEX',theL_INDEX_str,theL_INDEX_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('L_INDEX')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Middle</strong>
                            t<input ng-model="theL_MIDDLE_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theL_MIDDLE_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('L_MIDDLE',theL_MIDDLE_str,theL_MIDDLE_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('L_MIDDLE')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Ring</strong>
                            t<input ng-model="theL_RING_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theL_RING_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('L_RING',theL_RING_str,theL_RING_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('L_RING')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Pinky</strong>
                            t<input ng-model="theL_PINKY_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theL_PINKY_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('L_THUMB',theL_PINKY_str,theL_PINKY_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('L_PINKY')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Palm</strong>
                            t<input ng-model="theL_PALM_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theL_PALM_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('L_PALM',theL_PALM_str,theL_PALM_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('L_PALM')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Back</strong>
                            t<input ng-model="theL_BACK_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theL_BACK_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('L_BACK',theL_BACK_str,theL_BACK_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('L_BACK')">stop</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Right Hand</h4>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Thumb</strong>
                            t<input ng-model="theR_THUMB_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theR_THUMB_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('R_THUMB',theR_THUMB_str,theR_THUMB_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('R_THUMB')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Index</strong>
                            t<input ng-model="theR_INDEX_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theR_INDEX_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('R_INDEX',theR_INDEX_str,theR_INDEX_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('R_INDEX')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Middle</strong>
                            t<input ng-model="theR_MIDDLE_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theR_MIDDLE_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('R_MIDDLE',theR_MIDDLE_str,theR_MIDDLE_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('R_MIDDLE')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Ring</strong>
                            t<input ng-model="theR_RING_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theR_RING_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('R_RING',theR_RING_str,theR_RING_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('R_RING')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Pinky</strong>
                            t<input ng-model="theR_PINKY_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theR_PINKY_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('R_THUMB',theR_PINKY_str,theR_PINKY_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('R_PINKY')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Palm</strong>
                            t<input ng-model="theR_PALM_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theR_PALM_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('R_PALM',theR_PALM_str,theR_PALM_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('R_PALM')">stop</button>
                        </li>
                        <li class="list-group-item">
                            <strong>Back</strong>
                            t<input ng-model="theR_BACK_len" type="number" min="1" max="100" default="1" required>
                            s<input ng-model="theR_BACK_str" type="number" min="1" max="10" default="1" required>
                            <button type="button" class="btn btn-success" ng-click="setVibration('R_BACK',theR_BACK_str,theR_BACK_len)">start</button>
                            <button type="button" class="btn btn-success" ng-click="clearVibration('R_BACK')">stop</button>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-link" ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out" area-hidden="true"></span> Log Out
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
      <footer>
          <p>API: {{apiroot}} &middot; <strong>{{error}}</strong></p>
      </footer>
    </div>
</div>
