{% raw %}
<!doctype html>
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-resource.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
  </head>
  <body ng-app="lmfeedb">
    <!--URL-->
    <!-- Add your site or application content here -->
        <div class="container" ng-view=""></div>
        <!-- bower:js -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/es5-shim.min.js"></script>
        <script src="/js/json3.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <!-- endbower -->
        <script src="/scripts/app.js"></script>
        <script src="/scripts/controllers.js"></script>
        <script src="/scripts/services.js"></script>
  </body>
</html>
{% endraw %}
